<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Gutenberg</a>
    </li>
  </ul>
</nav> -->

<div class="col-md-12 backimgs">
  <h2 class="purplefont">Gutenberg Project</h2>
  <h6>A social cataloging website that allows you to freely search its databse of books,annotations and reviews</h6>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<router-outlet></router-outlet>